<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Dostęp do internetu -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Powiadomienia Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- Pozwala scannerowi pracować przy wygaszonym ekranie -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:theme="@style/AppTheme"
        android:label="Revolut Pump Hunter"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".ScannerService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>
